.animation {
	width: 100px;
	height: 100px;
	font-size: 15px;
	color: white;
	background-color: blue;
	position: relative;
	animation-name: example;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-name: example;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes example {
	0%   {left:0px; top:0px;}
	25%  {left:0px; top:300px;}
	50%  {left:300px; top:300px;}
	75%  {left:300px; top:0px;}
	100% {left:0px; top:0px;}
}