div {
	border: 2px solid gray;
	font-size: 25px;
	font-style: italic;
	padding-left: 10px;
	padding-right: 15px;
	text-align: center;
}

.box1 {
	background-color: #ffff4d;
	width: 300px;
	height: 200px;
	margin-top: 150px;
	margin-left: 600px;
	padding-top: 200px;
}

.box2 {
	color: #f2f2f2;
	background-color: #b3b3b3;
	width: 200px;
	height: 220px;
	margin-top: -550px;
	margin-left: 670px;
	padding-top: 90px;
}

.box3 {
	background-color: #b2ff66;
	width: 250px;
	height: 120px;
	margin-top: -180px;
	margin-left: 470px;
	padding-top: 85px;
}

.box4 {
	background-color: #ffad33;
	width: 110px;
	height: 140px;
	margin-top: -330px;
	margin-left: 495px;
	padding-top: 60px;
}

.box5 {
	background-color: #00ffff;
	width: 200px;
	height: 150px;
	margin-top: 270px;
	margin-left: 550px;
	padding-top: 60px;
}

.box6 {
	color: #f2f2f2;
	background-color: #1aa3ff;
	width: 195px;
	height: 120px;
	margin-top: -395px;
	margin-left: 440px;
	padding-top: 90px;
}

.box7 {
	color: #f2f2f2;
	background-color: #ff00ff;
	width: 100px;
	height: 95px;
	margin-top: -403px;
	margin-left: 828px;
	padding-top: 50px;
}