table {
	border-collapse: collapse;
}
table td {
	padding: 10px;
	text-align: left;
	border: 2px solid #cccccc;
}
tr:nth-child(odd) {
	background-color: #ffefcc;
}
.center {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
.col1 {
	width: 200px;
}
.col2 {
	width: 150px;
}
.head-row {
	color: #ffffff;
	background-color: #2cb300;
	border: 2px solid #808080;
}
.rows {
	border-top: hidden;
}
.shadow {
	box-shadow: -1px -1px 0px 1px black;
}